/* Small devices (Mobile) */
@media (max-width: 640px) {
  .homehead {
    margin-top: 2rem;
  }
  .bring {
    margin-top: 2rem;
    line-height: 5px;
  }

  .welovelive {
    margin-top: 8.5rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }
  .leftwe {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -5rem;
  }
  .righthiline {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
  }
  .craft,
  .we {
    font-size: 18px;
  }
  .story {
    font-size: 14px;
  }
  .hiline {
    font-size: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .succes,
  .dedicate {
    display: none;
  }

  .homebg {
    background-size: 250% !important;
    background-position: center 0px !important;
  }
  .yearoftrans {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
  }
  .parentofyear {
    width: 15rem;
  }
  .ten {
    font-size: 2rem;
  }
  .creating,
  .years {
    font-size: 14px;
    width: 100%;
  }

  .whitesection {
    display: flex !important;
    flex-direction: column !important ;
    padding-top: 2rem;
  }
  .gridsection {
    display: grid !important;
    grid-template-columns: 1fr 1fr !important;
    gap: 3rem !important;
    padding-top: 2rem !important;
  }
  .numberhead {
    font-size: 14px;
  }
  .servicesection {
    height: 80rem !important;
  }
  .projectsection {
    margin-top: -1rem;
  }
  .servicecomp {
    background-color: white;
  }

  .lazyimg {
    height: 80%;
  }
  .project-img {
    height: 20rem;
  }
  .projectsdetails {
    font-size: 12px;
    width: 8rem;
  }

  .projectheight {
    line-height: 0.1rem;
    font-size: 11px;
    border-radius: 5rem;
  }
  .contactdetail {
    position: static;
    /* height: 11rem; */
    margin: 0;
    z-index: 1000;
  }
  .contact {
    position: static;
    z-index: 1000;
    border-bottom-left-radius: 3rem;
    border-bottom-right-radius: 3rem;
  }
  .contacthead {
    font-size: 18px;
    margin-top: 1rem;
  }
  .getbutton {
    padding: 1rem;
    height: 3px;
  }
  .contactfirsthead {
    font-size: 17px;
  }

  .getintouch {
    font-size: 11px;
  }

  .foot {
    position: static;
    margin: 0;
    height: 20rem;
  }
  .foot-content {
    padding-bottom: 5rem;
  }
  .footerdetails {
    padding-top: 2rem;
  }
  .footerlorem {
    width: 98%;
    font-size: 10px;
  }
  .footermail {
    font-size: 11px;
  }
  .footerleftside {
    padding-bottom: 1px;
    padding-right: 20px;
  }
  .footersocial {
    padding-right: 1.5rem;
  }
  .market {
    font-size: 13px;
  }
  .headbanner {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 8px;
  }
  .project-bg {
    border-radius: 1.5rem;
  }
  .madeby {
    bottom: 0;
  }
  .nav {
    z-index: 900000;
  }
}

/* Medium devices (Tablet) */
@media (max-width: 768px) {
}

/* Large devices (Laptop/ Desktop) */
@media (max-width: 1024px) {
}

/* Extra large devices (Large Desktop) */
@media (max-width: 1280px) {
}

/* 2x extra large devices (Extra Large Desktop) */
@media (max-width: 1536px) {
}

.servicesection {
  border-radius: 2rem;
}
